:root{
    --primary-color:#5bc1ac ;
    --second-color: #5a6f80;
    --public-color: #fff;
    --section-bg-color: #f0f8ff;
    --title-section-color:#5a6f80;
    --text-paragraghp-color:#717275;
    --link-menu-color:#717275;
    --border-color: #e9eaeb;
    --border-box: 1px solid var(--border-color);
    --border-radius: 20px;
    --border-radius-form: 10px;
    --box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    --transition-time: .3s;
    /* --link-primary-color:;
     --link--second-color:;*/
}
p{
    margin-bottom: 20px;
    color: var(--text-paragraghp-color);
    line-height: 1.6;
}
p:last-child{
    margin-bottom: 0;
}
strong{
    font-weight: bold;
}
/* form */
input,
textarea,
button{
    border-radius: var(--border-radius-form);
}
input,
textarea,
label{
    width: 100%;
    color: var(--text-paragraghp-color);
    font-size: 1rem;
}
input,
textarea{
    border: 2px solid transparent;
    transition: border var(--transition-time);
}
input{
    height: 50px;
}
textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    color: #7a7a7a;
    font-family: var(--body-font-family);
    font-size: 1rem;
    resize:none;
}
input:focus,
textarea:focus{
    border-color: #80bdff;
}
.input__file{
    position: relative;
    height: 50px;
    padding: 10px 15px;
    border-radius: var(--border-radius-form);
}
.input__file [type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.input__file label{
    cursor:pointer;
}
.button__link[type="submit"]{
    display: block;
    width: 100%;
    font-size: 1rem;
    cursor:pointer;
}
.form__title{
    font-size: 1.7rem;
}
/* spacing */
.inner_space_y{
    padding-top: 100px;
    padding-bottom: 100px;
}
.p_20{
    padding: 20px;
}
.p_40{
    padding: 40px !important;
}
.mb_20{
    margin-bottom: 20px;
}
.mb_30{
    margin-bottom: 30px;
}
.my_20{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* link and button */
.link{
    display: inline-block;
    color: var(--second-color);
    transition: color var(--transition-time);
}
.link:hover{
    color: var(--primary-color);
}
.button__link{
    display: inline-block;
    padding: 12px 25px;
    color: var(--public-color);
    border-radius: 50px;
    transition: background-color var(--transition-time);
}
.button__link:hover{
     color: var(--public-color);
 }
.button__link__outline__second{
    border: 2px solid var(--second-color);
    color: var(--second-color);
}

/* other styles */
.text__primary{
    color: var(--primary-color);
}
.text__second{
    color: var(--second-color);
}
.border__radius__full{
     border-radius:500px;
 }
.linestrike{
    text-decoration: line-through #444;
}
/* primary and secondary colors */
.button__link__primary,
.button__link__second:hover,
.button__link__outline__second:hover,
.bg__primary,
.section__button:hover{
    background-color: var(--primary-color);
}
.button__link__second,
.button__link__primary:hover,
.bg__second,
.section__button {
    background-color: var(--second-color);
}
/* section primitive style */
.section__bg__color{
    background-color: var(--section-bg-color);
}
.section__bg__img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section__header{
    margin-bottom: 50px;
}
.section__title{
    position: relative;
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--title-section-color);
}
.section__text{
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--text-paragraghp-color);
}
.dark__bg .section__title,
.dark__bg .section__text,
.dark__bg p,
.dark__bg a,
.dark__bg span{
    color: var(--public-color);
}
/* card box */
.card__box{
    padding: 20px;
    background-color: #fff;
    border-radius:var(--border-radius);
}
.card__box__shadow{
    box-shadow: var(--box-shadow);
}
.card__title{
    font-size: 3rem;
}
.card__subtitle{
    font-size: 1.4rem;
}
.card__title,
.card__subtitle{
    margin-bottom: 20px;
}
/* menu navbar primitive style */
.nav__menu li{
    display: inline-block;
    margin-right: 10px;
}
.nav__menu li:last-child{
    margin-right: 0;
}
.nav__menu li a{
    padding: 10px;
    color: var(--link-menu-color);
}
.nav__menu li a:hover{
    color: var(--primary-color);
}
/* social icons */
.social__list{
    display:flex;
}
.social__list .social__item a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    border-radius: 50px;
    color: var(--public-color);
}
.social__list__solid .social__item a{
    color: #fff;
    background: var(--second-color);
}
.social__list .social__item a:hover{
    color: var(--second-color);
}
.social__list__solid .social__item a:hover{
    color: #fff;
    background-color: var(--primary-color);
}

/*====================================================
------------------------ STYLES ----------------------
=====================================================*/
#top__header{
    padding: 5px 0;
    background-color: var(--primary-color);
}
#top__header p{
    margin-bottom: 5px;
    font-size: .9rem;
}
#top__header .social__col{
    display: none;
}
/*---------------- main header -----------------*/
#header{
    position: relative;
    padding: 10px 0;
    box-shadow: var(--box-shadow);
    z-index: 9999;
}
.logo{
    width: 270px;
}
.logo img{
    width: 80px;
    margin-right: 10px;
}
.logo .logo__title h1{
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}
.logo .logo__title small{
    font-size: .7rem;
    text-transform: uppercase;
}
.logo:hover .logo__title h1,
.logo .logo__title small{
    color: var(--second-color);
}
/*--- navbar main menu ---*/
.main__navbar{
    display: none;
}
.nav__menu{
    margin-right: 15px;
}
li a{
    text-transform:capitalize;
}
/* header button */
.header__button:hover{
    border-color: var(--primary-color);
}
/*------------------ hero slider -------------*/
.slider__wrapper{
    overflow: hidden;
}
.slider__item .slider__item__caption{
    display: none;
    position: absolute;
    right: 150px;
    bottom: 50px;
    padding: 10px;
    background-color: var(--public-color);
}
.slider__item__caption .slider__item__title{
    font-size: 5rem;
}
/* slick slider */
.slick-slider .slick-arrow{
    display: none;
    top: 0;
    bottom: 0;
    width: 100px;
    height: auto;
    border-radius: 0;
    opacity:0;
    transform:translateY(0);
    transition:opacity .5s;
    z-index: 50;
}
.slick-slider .slick-next {
    right: 0;
    background-image: linear-gradient(to left, #777, transparent);
}
.slick-slider .slick-prev {
    left: 0;
    background-image: linear-gradient(to right, #777, transparent);
}
.slick-slider:hover .slick-arrow{
    opacity:.8;
}
.slick-slider .slick-arrow:before{
    display: block;
    font-size: 2rem;
    line-height: 25px;
}
/*---------------------- features -------------*/
.feature__card{
    padding: 0;
    margin-bottom: 30px;
}
.feature__card > a{
    display: block;
    padding: 30px;
    text-align: center;
}
.feature__card > a img{
    margin-bottom: 20px;
    transition:transform var(--transition-time);
}
.feature__card > a:hover img{
    transform:scale(0.8);
}
.feature__card > a p{
    font-size: 1.2rem;
}
/*--------------------- about ---------------------*/
.about__img__col{
    margin-bottom: 30px;
}
.box__image,
.box__image img{
    height: 100%;
}
.box__image img{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    object-fit: cover;
}
.about__desc__card{
    margin-bottom: 30px;
}
.about__list li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    color: var(--text-paragraghp-color);
}
.about__list li::before{
    content:"\f00c";
    position: absolute;
    top: -5px;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    line-height: 25px;
    color: var(--second-color);
    background-color: var(--section-bg-color);
    font-family: "fontawesome-light";
}
/* counter box */
.about__counter{
    margin-bottom: 30px;
    text-align: center;
}
.about__counter span{
    display: block;
    margin-bottom: 15px;
}
.about__counter span:last-child{
    margin: 0;
}
.about__counter .counter__number{
    font-size: 2.5rem;
}
/* about member */
.member__img img{
    width: 400px;
}
.member__content .member__name{
    margin-bottom: 0;
}
.member__desc{
    margin-bottom: 30px;
}
/*---------------- call to action --------------*/
.cta__section{
    position: relative;
    overflow: hidden;
    background-image: url("../images/bgchat.png");
}
.cta__section::before,
.cta__section::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 500px;
}
.cta__section::before{
    top: -20px;
    left: -50px;
    background-color: var(--primary-color);
}
.cta__section::after{
    right: 100px;
    bottom: -140px;
    border: 30px solid var(--second-color);
    background-color: transparent;
}
.cta__title{
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}
.cta__link:first-child{
    margin-right: 10px;
    margin-bottom: 10px;
}
/*---------------- causses donation --------------*/
.donation__card{
    padding: 0;
    box-shadow: 0 10px 15px #5a6f8020;
overflow:hidden;
}
.donation__progress{
    width: 100%;
    background-color: var(--border-color);
}
.donation__progress__bar{
    height: 5px;
}
.donation__btn{
    display: block;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.donation__card:hover{
    box-shadow: var(--box-shadow);
}
/*-------------------- volunteer -----------*/




/*======================================================
====================== MOBILE STYLES ===================
======================================================*/
.mobile__navbar__responsive{
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    overflow: auto;
    padding: 80px 40px 40px;
    background-color: #eee;
    box-shadow:var(--box-shadow);
    transition:left var(--transition-time);
    z-index: 100;
}
.btn__mobile__navbar__toggle,
.btn__mobile__navbar__close{
    float: right;
    font-size: 1.6rem;
    cursor: pointer;
}
.btn__mobile__navbar__close{
    position: absolute;
    top: 10px;
    right: 20px;
}
.mobile__logo{
    margin-bottom: 50px;
    text-align: center;
}

/* =========================================================

========================================================== */
@media screen and (min-width: 992px){
    .main__navbar{
        display: flex;
    }
    .slider__item .slider__item__caption,
    .slick-slider .slick-arrow{
        display: block;
    }
    .member__img{
        text-align: right;
    }
}
@media screen and (max-width: 991px){

}
@media screen and (min-width: 768px) {
    #top__header .info__col > div{
        display: inline-block;
        margin-right: 15px;
        font-size: .9rem;
    }
    #top__header p{
        margin-bottom: 0;
        font-size: .9rem;
    }
    .info__icon{
        margin-right: 5px;
    }
    #top__header .social__col{
        display: block;
    }
    .slick-slider .slick-arrow{
        display: block;
    }


}